li{
  word-wrap: break-word;
}

.top{
  text-align: center;
}

#personalinfo{
  border-bottom: solid black 1px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
#hidden{
  display: none;
}
#hidden2{
  display: none;
}

body{
  background-color: #F5F5F5;
  color: #000000;
}

button{
  background-color: #808080;
  margin-bottom: 5px;
  margin-top: 5px;
}
